[submodule "theme/adw-gtk3"]
	path = theme/adw-gtk3
	url = https://github.com/lassekongo83/adw-gtk3
[submodule "lunar"]
	path = lunar
	url = https://github.com/qwreey/lunar
[submodule "lunar-pkg"]
	path = lunar-pkg
	url = https://github.com/qwreey/qwreeyingchan-os-lunarpkg
[submodule "gnome-essential"]
	path = gnome-essential
	url = https://github.com/qwreey/gnome-essential
[submodule "theme/Colloid-icon-theme"]
	path = theme/Colloid-icon-theme
	url = https://github.com/vinceliuice/Colloid-icon-theme
